/**
 * 6pan.cn Desktop Stylesheet
 *
 * @author koukuko<9@koukuko.com>
 * @version 1.0.0
 * @dependency vuetifyjs
 */

// global
@import 'v1/global'
@import 'v1/icon'
@import 'v1/button'

// sign 
@import 'v1/sign'
@import 'v1/ipp'

// home 
@import 'v1/home'
@import 'v1/uploadlist'
@import 'v1/profile'