// button
.qz-btn
    margin: 0
    padding: 0
    height: 32px
    border: 1px solid #D9D9D9;
    border-radius: 5px
    .v-btn__content
        font-size: 14px 
    &.qz-btn-primary:not(.v-btn--outline) .v-btn__content
        color: #fff