.qz-icon
    background-repeat: no-repeat
    background-position: center

    // Toolbar
    &.qz-icon-upload, &.qz-icon-newdir, &.qz-icon-download, &.qz-icon-delete
        width: 14px 
        height 14px
        background-size: 14px 14px;
    &.qz-icon-upload
        background-image: url("../img/1x/upload.png")
        &.qz-icon-2x
            background-image: url("../img/2x/upload.png")
    &.qz-icon-newdir
        background-image: url("../img/1x/newdir.png")
        &.qz-icon-2x
            background-image: url("../img/2x/newdir.png")
    &.qz-icon-download
        background-image: url("../img/1x/download.png")
        &.qz-icon-2x
            background-image: url("../img/2x/download.png")
    &.qz-icon-delete
        background-image: url("../img/1x/delete.png")
        &.qz-icon-2x
            background-image: url("../img/2x/delete.png")

    // View mode
    &.qz-icon-thumb, &.qz-icon-list
        width: 24px 
        height: 24px
        background-size: 24px 24px;
    &.qz-icon-thumb
        background-image: url("../img/1x/thumb.png")
        &.qz-icon-2x
            background-image: url("../img/2x/thumb.png")
    &.qz-icon-list
        background-image: url("../img/1x/list.png")
        &.qz-icon-2x
            background-image: url("../img/2x/list.png")

    // Left nav
    &.qz-icon-home, &.qz-icon-offline, &.qz-icon-recycle
        width: 18px 
        height: 16px
        background-size: 18px 16px;
    &.qz-icon-home
        width: 18px 
        height: 18px
        background-size: 18px 18px;
        background-image: url("../img/1x/home.png")
        &.qz-icon-2x
            background-image: url("../img/2x/home.png")
    &.qz-icon-offline
        width: 18px 
        height: 17px
        background-size: 18px 17px;
        background-image: url("../img/1x/offline.png")
        &.qz-icon-2x
            background-image: url("../img/2x/offline.png")
    &.qz-icon-recycle
        background-image: url("../img/1x/recycle.png")
        &.qz-icon-2x
            background-image: url("../img/2x/recycle.png")

    // File list
    &.qz-icon-folder,
    &.qz-icon-pdf,
    &.qz-icon-txt,
    &.qz-icon-ms-word,
    &.qz-icon-ms-excel,
    &.qz-icon-ms-ppt,
    &.qz-icon-description,
    &.qz-icon-image,
    &.qz-icon-movie,
    &.qz-icon-archive,
    &.qz-icon-music,
    &.qz-icon-unknow
        width: 30px 
        height: 26px
        background-size: 30px 26px;
        &.qz-icon-2x
            width: 60px 
            height: 52px
            background-size: 60px 52px;

    &.qz-icon-folder
        background-image: url("../img/1x/folder.png")
        &.qz-icon-2x
            background-image: url("../img/2x/folder.png")

    &.qz-icon-pdf
        background-image: url("../img/1x/pdf.png")
        &.qz-icon-2x
            background-image: url("../img/2x/pdf.png")

    &.qz-icon-txt
        background-image: url("../img/1x/txt.png")
        &.qz-icon-2x
            background-image: url("../img/2x/txt.png")

    &.qz-icon-ms-word
        background-image: url("../img/1x/ms-word.png")
        &.qz-icon-2x
            background-image: url("../img/2x/ms-word.png") 

    &.qz-icon-ms-excel
        background-image: url("../img/1x/ms-excel.png")
        &.qz-icon-2x
            background-image: url("../img/2x/ms-excel.png")

    &.qz-icon-ms-ppt
        background-image: url("../img/1x/ms-ppt.png")
        &.qz-icon-2x
            background-image: url("../img/2x/ms-ppt.png")

    &.qz-icon-description
        background-image: url("../img/1x/description.png")
        &.qz-icon-2x
            background-image: url("../img/2x/description.png")

    &.qz-icon-image
        background-image: url("../img/1x/image.png")
        &.qz-icon-2x
            background-image: url("../img/2x/image.png")

    &.qz-icon-movie
        background-image: url("../img/1x/movie.png")
        &.qz-icon-2x
            background-image: url("../img/2x/movie.png")

    &.qz-icon-archive
        background-image: url("../img/1x/archive.png")
        &.qz-icon-2x
            background-image: url("../img/2x/archive.png")

    &.qz-icon-music
        background-image: url("../img/1x/music.png")
        &.qz-icon-2x
            background-image: url("../img/2x/music.png") 

    &.qz-icon-unknow
        background-image: url("../img/1x/unknow.png")
        &.qz-icon-2x
            background-image: url("../img/2x/unknow.png") 

    // File btn group
    &.qz-icon-file-download
        width: 13px 
        height: 14px
        background-size: 13px 14px;
        background-image: url("../img/1x/file-download.png")
        &.qz-icon-2x
            background-image: url("../img/2x/file-download.png")

    &.qz-icon-file-more
        width: 15px 
        height: 13px
        background-size: 15px 13px;
        background-image: url("../img/1x/file-more.png")
        &.qz-icon-2x
            background-image: url("../img/2x/file-more.png")

    // No data
    &.qz-icon-no-data
        width: 162px 
        height: 106px
        background-size: 162px 106px;
        background-image: url("../img/1x/no-data.png")
        &.qz-icon-2x
            background-image: url("../img/2x/no-data.png")

    // Dir list
    &.qz-expand
        width: 11px 
        height: 11px 
        background-size: 11px 11px
        background-image: url("../img/1x/1x+.png")
        &.qz-active
            background-image: url("../img/1x/1x-.png")
        &.qz-icon-2x
            background-image: url("../img/2x/2x+.png")
            &.qz-active
                background-image: url("../img/2x/2x-.png")
    
    // DIR Move modal
    &.qz-icon-dir-move
        width: 13px 
        height: 11px
        background-size: 13px 11px;
        background-image: url("../img/1x/folder_move_to.png")
        &.qz-icon-2x
            background-image: url("../img/2x/folder_move_to.png")

    // file list check
    &.qz-icon-check
        width: 15px 
        height: 15px
        background-size: 15px 15px;
        background-image: url("../img/1x/check-hover.png")
        &.qz-icon-2x
            background-image: url("../img/2x/check-hover.png")
        &.qz-active
            background-image: url("../img/1x/uncheck.png")
            &.qz-icon-2x
                background-image: url("../img/2x/uncheck.png")
    // profile
    &.qz-icon-prfile-username
        width: 33px 
        height: 38px
        background-size: 33px 38px;
        background-image: url("../img/1x/profile-username.png")
        &.qz-icon-2x
            background-image: url("../img/2x/profile-username.png")

    &.qz-icon-prfile-mobile
        width: 33px 
        height: 38px
        background-size: 33px 38px;
        background-image: url("../img/1x/profile-mobile.png")
        &.qz-icon-2x
            background-image: url("../img/2x/profile-mobile.png")

    &.qz-icon-prfile-space
        width: 33px 
        height: 38px
        background-size: 33px 38px;
        background-image: url("../img/1x/profile-space.png")
        &.qz-icon-2x
            background-image: url("../img/2x/profile-space.png")

    &.qz-icon-prfile-password
        width: 33px 
        height: 38px
        background-size: 33px 38px;
        background-image: url("../img/1x/profile-password.png")
        &.qz-icon-2x
            background-image: url("../img/2x/profile-password.png")

.flex.qz-active:hover
    .qz-icon
        &.qz-icon-check.qz-active
            background-image: url("../img/1x/check.png") !important
            &.qz-icon-2x
                background-image: url("../img/2x/check.png") !important


.v-btn--active, .v-list__tile--active
    .qz-icon
        &.qz-icon-thumb
            background-image: url("../img/1x/thumb.active.png")
            &.qz-icon-2x
                background-image: url("../img/2x/thumb.active.png")
        &.qz-icon-list
            background-image: url("../img/1x/list.active.png")
            &.qz-icon-2x
                background-image: url("../img/2x/list.active.png")
        &.qz-icon-home
            background-image: url("../img/1x/home.active.png")
            &.qz-icon-2x
                background-image: url("../img/2x/home.active.png")
        &.qz-icon-offline
            background-image: url("../img/1x/offline.active.png")
            &.qz-icon-2x
                background-image: url("../img/2x/offline.active.png")
        &.qz-icon-recycle
            background-image: url("../img/1x/recycle.active.png")
            &.qz-icon-2x
                background-image: url("../img/2x/recycle.active.png")

        