#sign-ipp
    width: 208px
    margin: 290px auto 0 auto
    .logo
        height 70px
        background: url('../logo.png') no-repeat center
        background-size: 48px 70px
        margin-bottom: 8px
    h1 
        font-size: 24px;
        color: #2EC17C;
        letter-spacing: 1px;
        text-align: center
        margin-bottom: 8px
    h4 
        margin-bottom: 24px
        font-size: 14px;
        color: #2EC17C;
        text-align: center
        font-weight: normal
        letter-spacing: 0.58px;
    .v-stepper
        -webkit-box-shadow: none
        box-shadow: none 
        .v-stepper__step
            display: none
        .v-stepper__content
            padding: 0
    .v-stepper, .v-stepper__wrapper
        overflow: visible

    .v-input-custom 
        .v-input__slot
            -webkit-box-shadow: none
            box-shadow: none
            border: 1px solid #D9D9D9
            margin-bottom: 8px
            font-size: 12px;
            padding: 8px
            &:focus-within
                border: 1px solid #2EC17C
        .v-input__control, .v-input__slot
            min-height: 32px
        input
            color: #404040;
        &.v-input--is-dirty.error--text .v-input__slot
            border: 1px solid #E53935;

    .form-group
        position: relative
        .form-group-label
            position: absolute
            font-size: 12px
            line-height: 32px
            width: 100px
            height: 32px
            left: -100px
            text-align: right
            padding-right: 8px
    .container
        padding: 0
    
    .form-hint 
        margin-bottom: 15px
        font-size: 12px
        min-height: 17px 
        line-height: 17px
        color: #E53935
    .v-btn
        margin: 0
        color: #fff
        -webkit-box-shadow: none
        box-shadow: none
        font-size: 12px
        height: 32px
    .v-btn--disabled
        background: #BFBFBF !important
        .v-btn__content
            color: #FFFFFF
            font-size: 14px
    .v-btn-code.v-btn--disabled
        background: #F7F7F7 !important
        border: 1px solid #D9D9D9 !important
        .v-btn__content
            font-size: 12px;
            color: #919191;
    .v-form-group-hint
        left: 230px
        font-size: 10px
        line-height: 14px
        .material-icons
            font-size: 12px
            margin: 0 4px 0 5px
        .hint-text
            margin-left: 20px
        .hint-row
            margin-bottom: 5px


        