.qz-upload-list
    left: auto 
    right: 100px 
    top: auto 
    bottom: 0
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(87,87,87,0.50) !important;
    border-radius: 5px;
    &.v-navigation-drawer--close
        transform:  translateY(+320px) !important;
    .v-toolbar
        .v-toolbar__content 
            padding: 0 16px;
            border-bottom: 1px solid rgba(87,87,87,0.50);
        .v-toolbar__title
            font-size: 14px;
            color: #5A5A5A;
            letter-spacing: 0.58px;
        .v-toolbar__extension
            height: 32px !important
            padding: 0 16px;
            background: #2EC17C;
            .v-toolbar__title
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0.58px;
                margin: 0
    .qz-list
        height: 320px
        overflow-x: hidden
        overflow-y: auto
        padding: 0
        .v-list__tile__avatar
            min-width: 48px
        .v-list__tile--avatar
            height: 48px
        .qz-name
            min-width: 270px
            max-width: 270px
            .v-list__tile__title
                font-size: 14px;
                color: #404040;
                letter-spacing: 0.58px;
        .qz-size
            max-width: 110px
            min-width: 110px
            .v-list__tile__title 
                font-size: 14px;
                color: #5A5A5A;
                letter-spacing: 0.58px;
        .qz-target
            min-width: 210px
            .href-link
                color: #2EC17C;
                text-decoration: none;
                &:hover 
                    text-decoration: underline;

            .v-list__tile__title 
                font-size: 14px;
                color: #5A5A5A;
                letter-spacing: 0.58px;
        .v-progress-linear
            z-index: 0
            margin: 0
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100% !important
        .v-list__tile__action
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 12px;
            .v-btn
                width: 20px
                height: 20px
                margin: 0
            .v-icon
                font-size: 16px
